body {
    background-image: url('../static/fondo.jpg');
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.separacion {
    width: 100%;
    background-color: white;
    height: 20px;
}


/*
||||||||||||||||||||||||||||||||||
|||||||||Barra navegación|||||||||
||||||||||||||||||||||||||||||||||
*/

.banner {
    background-color: #444;
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
}

.banner-cajon {
    font-size: larger;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*
|||||||Segmento logo|||||||
*/

.banner-logo {
    align-items: center;
    justify-content: center;
    transform: translateX(30px);
    transition: background-color 1s, scale 1s;
}

.banner-logo img {
    align-items: center;
    justify-content: center;
    width: 150px;
}

.banner-logo:hover {
    scale: 1.3;
}

/*
|||||||Segmento de menú|||||||
*/

.banner-menu {
    align-items: center;
    justify-content: center;
}

.menu-lista {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.listas {
    padding: 20px;
    border-radius: 10px;
    transition: background-color 1s, scale 1s;
}

.listas:hover {
    background-color: #717171;
    scale: 1.2;
}


/*
|||||||Segmento de búsqueda|||||||
*/

.banner-buscar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 70px;
}

.buscar-lipa {
    width: 20%;
}

.buscar-lipa:hover {
    scale: 1.1;
}

.buscar-lipa img {
    width: 30px;
}

.buscar-busqueda {
    width: 70%;
    input[type="text"] {
    background: #666;
    color: whitesmoke;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    font-size: 1em;
    width: 180px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
}

/*
||||||||||||||||||||||||||||||||||
|||||||||Análisis gráfico|||||||||
||||||||||||||||||||||||||||||||||
*/

.analisis-caja {
    width: 100%;
    background-color: #444;
    color: whitesmoke;
    border-radius: 10px;
    justify-content: center;
}

.analisis-titulo p {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 1%;
}

.analisis-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.analisis-texto p {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    text-justify: justify;
}

.analisis-texto p {
    padding: 10px;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
}



/*
||||||||||||||||||||||||||||||||||
|||||||||Botones de carga|||||||||
||||||||||||||||||||||||||||||||||
*/

.caja-carga {
    width: 100%;
    display: flex;
    color: whitesmoke;
    background-color: #444;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    justify-self: center;
    gap: 20px;
}

.caja-gris {
    width: 100%;
    padding: 2px 5px;
    background-color: #555;
    border-radius: 10px;
    height: 90px;
    align-content: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.E-A {
    width: 100%;
    font-size: large;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    display: flex;
}

.csv {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*
|||||||||||||||||||||||||||||||||
|||||||||||||Gráfico|||||||||||||
|||||||||||||||||||||||||||||||||
*/

.grafico {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 10px;
    padding: 5px;
}

.grafico-caja {
    justify-content: center;
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    transition: all 1s ease;
}

.grafico-caja canvas {
    background-color: white;
    border-radius: 10px;
}

.grafico1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}