<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de análisis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--Barra de navegación-->
    <section class="banner">
        <div class="banner-cajon">
            <!--Sección de logo-->
            <div class="banner-logo">
                <img src="{{ url_for('static', filename='multimedia/logo.png') }}" alt="">
            </div>
            <!--Menú del medio-->
            <div class="banner-menu">
                <ul class="menu-lista">
                    <li class="listas">Barras y lineas</li>
                    <li class="listas">Gráficas</li>
                    <li class="listas">Contacto</li>
                </ul>
            </div>
            <!--Búsquedas-->
            <div class="banner-buscar">
                <div class="buscar-lipa">
                    <img src="{{ url_for('static', filename='multimedia/lipa.png') }}" alt="">
                </div>
                <div class="buscar-busqueda">
                    <input type="text" placeholder="Búsqueda">
                </div>
            </div>
        </div>
    </section>
    <!--Hasta aquí-->





    <!--Sección de seperación-->
    <section class="separacion">
    </section>
    <!--Hasta aquí-->






    <!--Sección de análisis gráfico-->
    <section class="analisis-caja">
        <div class="analisis-titulo">
            <p>
                Análisis gráfico
            </p>
        </div>
        <div class="analisis-texto">
            <p>
                El <a href="https://colombia.unir.net/actualidad-unir/graficos-estadisticos/" target="_blank">análisis gráfico</a>, también conocido como análisis técnico o chartismo, es un método para evaluar y predecir movimientos de precios en mercados financieros utilizando gráficos y patrones históricos. Se basa en la idea de que la historia de los precios de un activo puede revelar tendencias y patrones que se repiten, permitiendo a los inversores tomar decisiones informadas.
            </p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/CODIGO_DEL_VIDEO" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    </section>
    <!--Hasta aquí-->







    <section class="separacion">
    </section>






    <!--Sección de seperación-->
    <section class="separacion">
    </section>

    <!--Sección de subida de archivos-->
    <section class="caja-carga">
        <div class="caja-gris">
            <div class="E-A">
                <p>
                    Cargar CSV
                </p>
            </div>
            <div class="E-A">
                <!-- Botón para subir CSV -->
                <form id="csvForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <div class="csv">
                        <input type="file" class="boton-carga" name="csv_file" accept=".csv" required>
                    </div>
                    <div class="csv">
                        <button type="submit" class="estilo-boton">Cargar CSV</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="caja-gris">
            <!-- Mensaje de éxito o error -->
            <div class="E-A">
                <p>
                    Estado de arga
                </p>
            </div class="E-A">
                <div id="message" style="padding-left: 30px;">
            </div>
        </div>
        <div class="caja-gris">
            <div class="E-A">
                Tipo de gráfico
            </div>
            <div class="E-A">
                <form id="csvForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <select id="chartType" class="chart-selector">
                        <option value="line">Línea</option>
                        <option value="bar">Barras</option>
                    </select>
                </form>
            </div>
        </div>
    </section>

    <section class="separacion">
    </section>


    <!-- Gráfico -->
    <section class="grafico">
        <div class="grafico-caja">
            <canvas id="grafico1"></canvas>
        </div>
        <!-- Scripts -->
        <script src="{{ url_for('static', filename='graph.js') }}"></script>
        <script src="{{ url_for('static', filename='uploadHandler.js') }}"></script>
    </section>
    
</body>
</html>