<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de análisis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--Barra de navegación-->
    <section class="banner">
        <div class="banner-cajon">
            <!--Sección de logo-->
            <div class="banner-logo">
                <img src="{{ url_for('static', filename='multimedia/logo.png') }}" alt="">
            </div>
            <!--Menú del medio-->
            <div class="banner-menu">
                <ul class="menu-lista">
                    <li class="listas">Barras y lineas</li>
                    <li class="listas">Gráficas</li>
                    <li class="listas">Contacto</li>
                </ul>
            </div>
            <!--Búsquedas-->
            <div class="banner-buscar">
                <div class="buscar-lipa">
                    <img src="{{ url_for('static', filename='multimedia/lipa.png') }}" alt="">
                </div>
                <div class="buscar-busqueda">
                    <input type="text" placeholder="Búsqueda">
                </div>
            </div>
        </div>
    </section>
    <!--Hasta aquí-->

    <!--Sección de seperación-->
    <section class="separacion">
    </section>

    <!--Sección de explicación de gráficas-->
    <section class="info">
        <div class="cajon-texto">
            <div class="texto1 restaltar bordear">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto neque voluptates adipisci dolorem fugiat quasi mollitia praesentium, consequuntur odio magni eligendi, labore, fugit consectetur natus et soluta unde nulla possimus?
            </div>
            <div class="texto2">
                <div class="texto2-a restaltar bordear">
                    <div class="lineas-titulo">
                        <p>
                            Diagrama de líneas
                        </p>
                    </div>
                    <div class="lineas">
                        <div class="lineas-texto">
                            <p>
                                Caja texto diagrama de líneas.
                            </p>
                        </div>
                        <div class="lineas-imagen">
                            <img src="{{ url_for('static', filename='multimedia/lineas.jpg') }} ">
                        </div>
                    </div>
                </div>
                <div class="texto2-b restaltar bordear">
                    <div class="lineas-titulo">
                        <p>
                            Diagrama de barras
                        </p>
                    </div>
                    <div class="lineas">
                        <div class="lineas-texto">
                            <p>
                                Caja texto diagrama de barras.
                            </p>
                        </div>
                        <div class="lineas-imagen">
                            <img src="{{ url_for('static', filename='multimedia/barras.jpg') }} ">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!--Sección de seperación-->
    <section class="separacion">
    </section>

    <!--Sección de subida de archivos-->
    <section class="caja-carga">
        <div class="caja-gris">
            <div class="E-A">
                <p>
                    Cargar CSV
                </p>
            </div>
            <div class="E-A">
                <!-- Botón para subir CSV -->
                <form id="csvForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <div>
                        <input type="file" class="boton-carga" name="csv_file" accept=".csv" required>
                    </div>
                    <div>
                        <button type="submit" class="estilo-boton">Cargar CSV</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="caja-gris">
            <!-- Mensaje de éxito o error -->
            <div class="E-A">
                <p>
                    Estado de arga
                </p>
            </div class="E-A">
                <div id="message">
            </div>
        </div>
        <div class="caja-gris">
            <div class="E-A">
                Tipo de gráfico
            </div>
            <div class="E-A">
                <form id="csvForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <select id="chartType" class="chart-selector">
                        <option value="line">Línea</option>
                        <option value="bar">Barras</option>
                    </select>
                </form>
            </div>
        </div>
        
    </section>





    <!-- Gráfico -->
    <div class="chart-container" style="height: 400px; width: 50%;">
        <canvas id="grafico1"></canvas>
    </div>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='graph.js') }}"></script>

    <footer>Elaborado &cap; 2025.</footer>
    <script src="{{ url_for('static', filename='uploadHandler.js') }}"></script>
</body>
</html>